<h1>Brands</h1>
    {% if brands is not empty%}
    <p>Here are all brands:</p>
    <ul>
      {% for brand in brands %}
      <li>{{ brand.getName }}</li>
      {% endfor%}
    </ul>
    {% endif %}

    <form action="/brands/create" method="post">
      <label for="name">New brand name:</label>
      <input type="text" name="name" id="name">

      <button type="submit" name="button">Add brand</button>
    </form>

    <form action="/brands/delete" method="post">
      <button type="submit" name="button">Clear all people</button>
</form>
