@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
              url(https://shoeservant.files.wordpress.com/2012/07/banner1.jpg);
  background-size: cover;
  font-size: 4em;
  color: white;
  text-align: center;
}
